<h2>Recommendations for <%= @user.name %></h2>

<%= render :partial => "recommendations/recommendations", :object => @recommendations %>

<div class="links">
  <%= link_to "Back to User", admin_user_path(@user) %>
  <%= link_to "Clear Recommendations", admin_user_recommendations_path(@user), :method => :delete, :confirm => "Are you sure?" %>
  <%= link_to "Generate New", admin_user_recommendations_path(@user), :method => :post %>
</div>