<h2>Feeds</h2>

<div class="links">
  <%= link_to "New Feed", new_admin_feed_path %>  
  <%= link_to "Update all Feeds", fetch_all_admin_feeds_path %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <% for feed in @feeds %>
  <tr>
    <td>
      <%= link_to h(truncate(feed.title, :length => 50)), admin_feed_path(feed) %>
    </td>
    <td>
      <%= datetime feed.created_at %>
    </td>
    <td>
      <%= datetime feed.updated_at %>
    </td>
  </tr>
  <% end -%>
</table>

