<h2><%= h @feed.title %></h2>
<h3><%= h @feed.url %></h3>

<h2>Items</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Published</th>
  </tr>
  <% for item in @feed.feed_items.ordered %>
    <tr>
      <td>
        <%= link_to h(truncate(item.title, :length => 50)), admin_feed_item_path(item) %>
      </td>
      <td>
        <%= datetime item.published_at %>
      </td>
    </tr>
  <% end %>
</table>

<div class="links">
  <%= link_to "Update", fetch_admin_feed_path(@feed) %>
  <%= link_to "Edit", edit_admin_feed_path(@feed) %>
  <%= link_to "Delete", admin_feed_path(@feed), :confirm => "Are you sure?", :method => "delete" %>
  <%= render :partial => "back_to_feeds" %>
</div>