<h2>Your Tags</h2>

<p>
  Your tags are what allows Thinkful to match you up with the most relevant information.
  Add a tag by submitting the following form. You may also delete any tags that are no
  longer relevant to you.
</p>

<% form_for :tag, @tag, :url => tags_path, :html => { :class => "noformat" } do |f| %>
  <%= f.text_field :name %>
  <%= submit_tag "Add New Tag" %>
<% end %>

<ul id="tags">
  <% for tagging in current_user.taggings do %>
    <li>
      <%= image_tag "icons/tag.png" %>
      <%= h tagging.tag.name %>
      <%= link_to "delete", tag_path(tagging), :method => "delete", :class => "delete" %>
    </li>
  <% end %>
</ul>