<h2>User - <%= h @user.name %></h2>

<table>
  <% %w[login first_name last_name email birthday gender occupation].each do |field| %>
    <tr>
      <td><%= h field.titleize %></td>
      <td><%= h @user.send(field) %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => "tags", :locals => { :user => @user } %>
<%= render :partial => "areas", :locals => { :user => @user } %>

<div class="links">
  <%= link_to "Back to Users", admin_users_path %>
  <%= link_to "Recommendations", admin_user_recommendations_path(@user) %>
  <%= link_to "Delete", admin_user_path(@user), :confirm => "Are you sure?", :method => :delete %>
</div>