<h2>User - <%= h @user.name %></h2>

<table>
  <% %w[login first_name last_name email gender birthday gender occupation].each do |field| %>
    <tr>
      <td><%= h field.titleize %></td>
      <td><%= h @user.send(field) %></td>
    </tr>
  <% end %>
</table>

<h2>Tags</h2>
<ul>
  <% for tag in @user.tags %>
    <li>
      <%= image_tag "icons/tag.png" %>
      <%= h tag.name %>
    </li>
  <% end %>
</ul>

<h2>Areas of Interest</h2>
<ul>
  <% for area in @user.areas %>
    <li>
      <%= image_tag "icons/area.png" %>
      <%= h area.name %>
    </li>
  <% end %>
</ul>

<div class="links">
  <%= link_to "Recommendations", admin_user_recommendations_path(@user) %>
  <%= link_to "Delete", admin_user_path(@user), :confirm => "Are you sure?", :method => :delete %>
  <%= link_to "Back to Users", admin_users_path %>
</div>